<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Community | Activity</title>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="__STATIC__/lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__STATIC__/lib/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/lib/css/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" href="__STATIC__/lib/css/button.css" />
    <link rel="stylesheet" href="__STATIC__/home/css/style.css" />
    <link rel="stylesheet" href="__STATIC__/home/css/index.css" />
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header" style="margin-left: 10%;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="__STATIC__/lib/img/logo1.png" ondragstart="return false;" style="margin-top: -15px;opacity: 0.95;"></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse pull-left">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{:Url('home/index/index')}">活动</a>
                    </li>
                    <li>
                        <a href="{:Url('corp/index/index')}">社团</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{:Url('user/index/index')}">管理</a></li>
                            <li><a href="{:Url('user/login/logon')}">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse pull-right" style="margin-right: 10%;">
                <img class="img-responsive img-circle pull-left" src="__STATIC__/lib/img/user.jpg" ondragstart="return false;" id="avatar">
            </div>
        </div>
    </nav>
    <div class="container" style="margin-top: 78px; width: 800px;">
        <!--轮播图-->
        <div id="myCarousel" class="carousel slide" style="height: 250px;">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner" style="height: 250px;">
                <div class="item active">
                    <img src="__STATIC__/lib/img/test1.jpg" alt="First slide">
                </div>
                <div class="item">
                    <img src="__STATIC__/lib/img/test1.jpg" alt="Second slide">
                </div>
                <div class="item">
                    <img src="__STATIC__/lib/img/test1.jpg" alt="Third slide">
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;
    </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;
    </a>
        </div>
        <div style="margin-top: 5px;">
            <form action="#" method="post" class="form-horizontal" role="form">
                <div class="form-group" style="margin-left: -37%">
                    <label class="control-label">活动类型：</label>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="status" value="-1" id="status-1" checked="checked">
                        <label for="status-1">不限</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="status" value="1" id="status1">
                        <label for="status1">体育竞技</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="status" value="2" id="status2">
                        <label for="status2">专业竞赛</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="status" value="3" id="status3">
                        <label for="status3">技能拓展</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="status" value="4" id="status4">
                        <label for="status4">娱乐活动</label>
                    </div>
                </div>
                <div class="form-group" style="margin-left: -51.5%">
                    <label class="control-label">活动时间：</label>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="time" value="-1" id="time-1" checked="checked">
                        <label for="time-1">不限</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="time" value="1" id="time1">
                        <label for="time1">今天</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="time" value="2" id="time2">
                        <label for="time2">昨天</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="time" value="3" id="time3">
                        <label for="time3">本周</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="time" value="4" id="time4">
                        <label for="time4">上周</label>
                    </div>
                </div>
                <div class="form-group has-feedback" style="margin-left: -8.3%;">
                    <label class="control-label col-md-2">搜索标题：</label>
                    <div class="col-md-3 input-group" style="margin-left: -20px;">
                        <input type="text" name="title" class="form-control" placeholder="输入标题">
                        <span class="input-group-btn">
                        <button name='seach' type="button" id='search-btn' class="btn btn-default"><i
                                        class="fa fa-search"></i></button>
                    </span>
                    </div>
                </div>
            </form>
        </div>
        <div id="activity" style="margin-top: -10px;">
            <ul class="list-group">
                <li style="height: 135px;margin: 0px;padding: 0px;" class="list-group-item">
                    <img src="__STATIC__/lib/img/activity1.jpg" class="pull-left img-responsive img-rounded" style="height: 100px;width: 155px;margin-top: 15px;margin-left: 10px;" ondragstart="return false;">
                    <div class="pull-left" style="margin-left: 15px;width: 30%;height: 105px;margin-top: 15px;">
                        <p style="font-size: 13px;text-align: left;"><a>趣味数学</a></p>
                        <p style="font-size: 13px;text-align: left;">社团：计算科学学院青协</p>
                        <p style="font-size: 13px;text-align: left;">地点：A413</p>
                        <p style="font-size: 13px;text-align: left;" class="pull-left">截止报名：</p>
                        <div class="progress" style="width: 50%;height: -50%;">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                            </div>
                        </div>
                        <p style="font-size: 13px;font-weight: normal;margin-top: -40px;" class="pull-right">剩10天</p>
                    </div>
                    <div style="height: 105px;width: 35%;margin-top: 15px;" class="pull-right">
                        <div style="width: 68px;height: 105px;border-radius: 5px;border: 1px solid #E0EEEE;" class="pull-left">
                            <img src="__STATIC__/lib/img/iconst2.png" style="margin-top: 10px;margin-bottom: 10px;">
                            <p style="font-size: 13px;text-align: center;">招募人数</p>
                            <p style="font-size: 13px;text-align: center;">100</p>
                        </div>
                        <div style="width: 68px;height: 105px; margin-left: 15px;border-radius: 5px;border: 1px solid #E0EEEE;" class="pull-left">
                            <img src="__STATIC__/lib/img/iconst3.png" style="margin-top: 10px;margin-bottom: 10px;">
                            <p style="font-size: 13px;text-align: center;">点赞</p>
                            <p style="font-size: 13px;text-align: center;">10</p>
                        </div>
                        <div style="height: 105px;margin-right: 10px;" class="pull-right">
                            <button class="btn btn-danger" style="margin-top: 33px;">马上报名</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <script id="actTemplate" type="text/x-jquery-tmpl">
        </script>
        <div id="page" class="pull-right"></div>
    </div>
    <script src="__STATIC__/lib/js/jquery.min.js"></script>
    <script src="__STATIC__/lib/js/bootstrap.min.js"></script>
    <script src="__STATIC__/lib/js/jquery.tmpl.min.js"></script>
    <script src="__STATIC__/lib/js/laypage.js"></script>
    <script src="__STATIC__/index/js/base.js"></script>
    <script src="__STATIC__/home/js/index.js"></script>
    <script type="text/javascript">
    function changeState(el) {
        if (el.readOnly) el.checked = el.readOnly = false;
        else if (!el.checked) el.readOnly = el.indeterminate = true;
    }
    $('#search-btn,input[name=status],input[name=time]').click(function(event) {
        ajaxPage(1);
    });

    function ajaxPage(curr) {
        var status = $('input[name=status]:checked').val();
        var time = $('input[name=time]:checked').val();
        var title = $('input[name=title]').val();
        $.getJSON('/corp/activity/index', {
                page: curr,
                status: status,
                time: time,
                title: title
            },
            function(res) {
                laypage({
                    cont: 'page',
                    pages: res.allpage,
                    curr: res.nowpage,
                    skin: '#5bc0de',
                    jump: function(obj, first) {
                        if (!first) {
                            ajaxPage(obj.curr);
                        }
                    }
                });
            });
    }
    </script>
</body>

</html>
