<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>Community | Activity</title>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="__STATIC__/lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__STATIC__/lib/font-awesome/4.2.0/css/font-awesome.min.css"/>

    <!-- text fonts -->
    <link rel="stylesheet" href="__STATIC__/lib/fonts/fonts.googleapis.com.css"/>

    <!-- ace styles & button-->
    <!-- <link rel="stylesheet" href="__STATIC__/lib/css/ace.min.css"/> -->
    <link rel="stylesheet" href="__STATIC__/lib/css/button.css"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="__STASTIC__/lib/css/ace-part2.min.css"/>
    <![endif]-->
    <!-- <link rel="stylesheet" href="__STATIC__/lib/css/ace-rtl.min.css"/> -->

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="__STATIC__/lib/css/ace-ie.min.css"/>
    <![endif]-->
    <link rel="stylesheet" href="__STATIC__/lib/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="__STATIC__/lib/css/xcConfirm.css">
    <link rel="stylesheet" href="__STATIC__/home/css/style.css"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__STATIC__/lib/js/html5shiv.min.js"></script>
    <script src="__STATIC__/lib/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="__STATIC__/lib/img/logo1.png" ondragstart="return false;" style="margin-top: -15px;opacity: 0.95;"></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse pull-left">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">活动</a>
                </li>
                <li>
                    <a href="#">社团</a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:Url('user/index/index')}">管理</a></li>
                        <li><a href="{:Url('user/login/logon')}">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse pull-right">
            <img class="img-responsive img-circle pull-left" src="__STATIC__/lib/img/user.jpg" ondragstart="return false;" id="avatar">
        </div>
    </div>
</nav>
<script src="__STATIC__/lib/js/jquery.min.js"></script>
<script src="__STATIC__/lib/js/bootstrap.min.js"></script>
<script src="__STATIC__/lib/js/bootstrapValidator.min.js"></script>
<script src="__STATIC__/lib/js/jquery.bootstrap-growl.min.js"></script>
<script src="__STATIC__/lib/js/xcConfirm.js"></script>
<script src="__STATIC__/index/js/base.js"></script>
</body>
</html>