<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Community | Activity</title>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="__STATIC__/lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__STATIC__/lib/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/lib/css/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/lib/css/toastr.min.css">
    <link rel="stylesheet" href="__STATIC__/lib/css/button.css" />
    <link rel="stylesheet" href="__STATIC__/home/css/style.css" />
    <link rel="stylesheet" href="__STATIC__/home/css/index.css" />
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header" style="margin-left: 10%;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="__STATIC__/lib/img/logo1.png" ondragstart="return false;" style="margin-top: -15px;opacity: 0.95;"></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse pull-left">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="<{:Url('home/index/index')}>">活动</a>
                    </li>
                    <li>
                        <a href="<{:Url('corp/index/index')}>">社团</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="<{:Url('user/index/index')}>">管理</a></li>
                            <li><a href="<{:Url('user/login/logon')}>">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse pull-right" style="margin-right: 10%;">
                <img class="img-responsive img-circle pull-left" src="__STATIC__/lib/img/user.jpg" ondragstart="return false;" id="avatar">
            </div>
        </div>
    </nav>
    <div class="container" style="margin-top: 78px;">
        <!--轮播图-->
        <div id="myCarousel" class="carousel slide" style="height: 250px;">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner" style="height: 250px;">
                <div class="item active">
                    <img src="__STATIC__/lib/img/test1.jpg" alt="First slide">
                </div>
                <div class="item">
                    <img src="__STATIC__/lib/img/test1.jpg" alt="Second slide">
                </div>
                <div class="item">
                    <img src="__STATIC__/lib/img/test1.jpg" alt="Third slide">
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;
    </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;
    </a>
        </div>
        <div style="margin-top: 5px;">
            <form action="#" method="post" class="form-horizontal" role="form">
                <div class="form-group text-left" style="margin-left: 0px;">
                    <label class="control-label">活动类型：</label>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="type" value="0" id="status-1" checked="checked">
                        <label for="status-1">不限</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="type" value="1" id="status1">
                        <label for="status1">体育竞技</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="type" value="2" id="status2">
                        <label for="status2">专业竞赛</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="type" value="3" id="status3">
                        <label for="status3">技能拓展</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="type" value="4" id="status4">
                        <label for="status4">娱乐活动</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="type" value="5" id="status5">
                        <label for="status5">思想教育</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="type" value="-1" id="status5">
                        <label for="status5">其他</label>
                    </div>
                </div>
                <div class="form-group text-left" style="margin-left: 0px;">
                    <label class="control-label">活动时间：</label>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="time" value="0" id="time-1" checked="checked">
                        <label for="time-1">不限</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="time" value="1" id="time1">
                        <label for="time1">今天</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="time" value="2" id="time2">
                        <label for="time2">昨天</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="time" value="3" id="time3">
                        <label for="time3">本周</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="time" value="4" id="time4">
                        <label for="time4">上周</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="time" value="5" id="time5">
                        <label for="time5">本月</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" name="time" value="6" id="time6">
                        <label for="time6">上月</label>
                    </div>
                </div>
                <div class="form-group has-feedback" style="margin-left: -133px;">
                    <label class="control-label col-md-2">活动标题：</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" name="title" class="form-control" placeholder="输入标题">
                            <span class="input-group-btn">
                        <button name='seach' type="button" id='search-btn' class="btn btn-default"><i
                                        class="fa fa-search"></i></button>
                    </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="activity">
            <ul class="list-group" id="activityList">
            </ul>
        </div>
        <script id="actTemplate" type="text/x-jquery-tmpl">
            <li style="margin-bottom: 10px;width: 100%;" class="list-group-item">
                <img src="${actpic}" class="pull-left img-responsive img-rounded corppic" ondragstart="return false;">
                <div class="pull-left" style="margin-left: 15px;width: 40%;height: 105px;margin-top: 10px;">
                    <p class="pstyle"><a href="/activity/activity/detail?aid=${aid}">${title}</a></p>
                    <p class="pstyle">社团：${corpname}</p>
                    <p class="pstyle">地点：${address}</p>
                    <p class="pull-left pstyle">截止报名：</p>
                    <div class="progress" style="width: 50%;height: -50%;">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: ${desc};">
                        </div>
                    </div>
                    <p style="font-size: 13px;font-weight: normal;margin-top: -40px;margin-right: 25%;" class="pull-right">${restdys}</p>
                </div>
                <div class="pull-right joinlike">
                    <div class="pull-left join text-center">
                        <img src="__STATIC__/lib/img/iconst2.png">
                        <p>招募人数</p>
                        <p>${number}</p>
                    </div>
                    <div class="pull-left like text-center" style="cursor: pointer;">
                        {{if like}}
                        <img src="__STATIC__/lib/img/iconst3.png" onclick="addLike(${aid})" id="like"> {{else}}
                        <img src="__STATIC__/lib/img/iconst4.png" onclick="resetLike(${aid})" id="like"> {{/if}}
                        <p>点赞</p>
                        <p id="likeCount">${likecount}</p>
                    </div>
                    <div class="pull-right buttonDiv">
                        {{if apply}}
                        <button class="btn btn-danger" type="button" data-toggle="modal" onclick="apply(${aid}, ${cid})">马上报名</button>
                        {{else}}
                        <button class="btn btn-danger" disabled="disabled" alt="还未开启报名">马上报名</button>
                        {{/if}}
                    </div>
                </div>
            </li>
        </script>
        <div id="page" class="pull-right"></div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-left" id="myModalLabel">填写报名信息</h4>
                    </div>
                    <div class="modal-body">
                        <div style="width: 70%;margin: 0 auto;">
                            <form class="form-horizontal" role="form" id="ajaxApply" action="<{:Url('activity/activity/apply')}>" method="post">
                                <div class="form-group">
                                    <label class="control-label col-md-2">真实名</label>
                                    <div class="col-md-10">
                                        <input type="text" name="realname" class="form-control" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">班级</label>
                                    <div class="col-md-10">
                                        <input type="text" name="project" class="form-control" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">手机号</label>
                                    <div class="col-md-10">
                                        <input type="text" name="mobile" class="form-control" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">邮箱</label>
                                    <div class="col-md-10">
                                        <input type="text" name="email" class="form-control" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">备注</label>
                                    <div class="col-md-10">
                                        <textarea rows="5" cols="50" class="form-control" name="remark"></textarea>
                                    </div>
                                </div>
                                <input type="hidden" name="aid">
                                <input type="hidden" name="cid">
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="applyActivity">确定</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>
    </div>
    <script src="__STATIC__/lib/js/jquery.min.js"></script>
    <script src="__STATIC__/lib/js/bootstrap.min.js"></script>
    <script src="__STATIC__/lib/js/jquery.tmpl.min.js"></script>
    <script src="__STATIC__/lib/js/laypage.js"></script>
    <script src="__STATIC__/lib/js/jquery.form.js" type="text/javascript"></script>
    <script src="__STATIC__/lib/js/toastr.min.js" type="text/javascript"></script>
    <script src="__STATIC__/index/js/base.js"></script>
    <script src="__STATIC__/home/js/index.js"></script>
</body>

</html>
