<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>Community | Activity</title>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="__STATIC__/lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__STATIC__/lib/font-awesome/4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="__STATIC__/lib/fonts/fonts.googleapis.com.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/lib/css/awesome-bootstrap-checkbox.css">
      <!--Toastr-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/lib/css/toastr.min.css">
    <link rel="stylesheet" href="__STATIC__/lib/css/button.css"/>
    <link rel="stylesheet" href="__STATIC__/home/css/style.css"/>
    <link rel="stylesheet" href="__STATIC__/home/css/corp.css"/>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header" style="margin-left: 10%;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="__STATIC__/lib/img/logo1.png" ondragstart="return false;" style="margin-top: -15px;opacity: 0.95;"></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse pull-left">
            <ul class="nav navbar-nav">
                <li>
                    <a href="<{:Url('home/index/index')}>">活动</a>
                </li>
                <li>
                    <a href="<{:Url('corp/index/index')}>">社团</a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="<{:Url('user/index/index')}>">管理</a></li>
                        <li><a href="<{:Url('user/login/logon')}>">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse pull-right" style="margin-right: 10%;">
            <img class="img-responsive img-circle pull-left" src="__STATIC__/lib/img/user.jpg" ondragstart="return false;" id="avatar">
        </div>
    </div>
</nav>
<div class="container">
	<div id='nav'>
		<ul>
			<li class="navLi" value="0">全部</li>
			<li value="1">体育竞技</li>
			<li value="2">公共关系</li>
			<li value="3">专业实践</li>
			<li value="4">理论研究</li>
			<li value="5">艺术特长</li>
			<li value="6">社会服务</li>
			<li value="7">科技创新</li>
		</ul>
	</div>
    <div id="selectSearch">
        <div id="select" class="pull-left" style="margin-top: 4px;">
            <label>隶属:</label>
            <select id= "belong">
                <option value="0">不限</option>
                <option value="1">个人</option>
                <option value="2">学院</option>
                <option value="3">学校</option>
            </select>
            <label>人员数:</label>
             <select id="num">
                <option value="1">由高到低</option>
                <option value="2">由低到高</option>
            </select>
        </div>
        <div class="input-group pull-right" style="width: 30%;" onclick="b()">
            <input type="text" name="corpname" class="form-control" placeholder="社团名" id="corpname">
            <span class="input-group-addon" style="cursor: pointer;" id="search" onclick="a()"><i class="fa fa-search"></i></span>
        </div>
    </div>
    <div id="content">
    	<ul style="list-style: none;text-align: left;" id="corp">
    	</ul>
        <script id="corpTemplate" type="text/x-jquery-tmpl">
            <li>
                <img src="${corppic}" class="img-rounded img-responsive">
                <p><a href="/corp/index/detail?cid=${cid}">${corpname}</a></p>
                <div class="info">
                    <span>隶属</span>
                    <span class="pull-right">${belong}</span>
                </div>
                <div class="info">
                    <span>人员数</span>
                    <span class="pull-right">${num}</span>
                </div>
                <div class="info">
                    <span>成立时间</span>
                    <span class="pull-right">
                        ${createtime}
                    </span>
                </div>
                <div style="margin-top: 20px;text-align: center;">
                    {{if isapply == 1}}
                    <button class="btn btn-danger">加入社团</button>
                    {{else}}
                    {{/if}}
                </div>
            </li>
        </script>
    </div>
    <div id="page" class="pull-right">
    	
    </div>
</div>
<script src="__STATIC__/lib/js/jquery.min.js"></script>
<script src="__STATIC__/lib/js/bootstrap.min.js"></script>
<script src="__STATIC__/lib/js/toastr.min.js"></script>
<script src="__STATIC__/lib/js/jquery.tmpl.min.js"></script>
<script src="__STATIC__/lib/js/laypage.js"></script>
<script src="__STATIC__/index/js/base.js"></script>
<script src="__STATIC__/home/js/corp.js"></script>
<script type="text/javascript">
    function changeState(el) {
        if (el.readOnly) el.checked=el.readOnly=false;
        else if (!el.checked) el.readOnly=el.indeterminate=true;
    }
</script>
</body>
</html>